#mammad1
{
    text-align: right;
    padding: auto;
    margin:auto;

}
#aks1
{
    margin-left: 440px;
text-align: center;
border-radius: 50px;
box-shadow: 5px 5px 5px;
}
a
{
    text-decoration: none;
    color: rgb(45, 45, 189);
}
a:hover
{
   color: blue;
}
li
{
    display: inline;
    padding: 10px;
    margin-top: 120px;

}
#mammad2
{
    display: inline;

}
#ata
{
    color: red;
}
#ata:hover
{
    color: brown;
}
#mammad4
{
   position: absolute;
   bottom: 425px; 
   left: -10px;
 
}
#abolfazl
{
    position: absolute;
    bottom: 420px;
    left: 1330px;
}
#jack
{
    font-size: 20px;
}
#aks2
{
    position: absolute;
    bottom:-370px;
    left: 70px;
}
#jen
{
    width:70%;
    position: absolute;
    left: 500px;
}
#mramir
{
    font-size: 21px;
}
#mammad6
{

    position: absolute;
    bottom: -850px;
    left: 70px;
}
span
{
    font-size: 19px;
position: absolute;
bottom: -50px;
left: 100px;
color: rgb(255, 0, 0);
}
.mammad7
{
    background-image:linear-gradient(to right,rgb(0, 255, 21),rgb(174, 255, 0),yellow,rgb(0, 255, 229) );
 height:400px;
 width: 1590px;
position: absolute;
bottom: -810px;
left: -100px;
margin: 0px;
padding:0px;
border:5px solid white;
border-radius: 50px;
}
#mohem
{
    position: absolute;
    bottom:-1560px;
    left: 900px;
    margin: 0%;
}
#mohem
{
    font-size: large;
    text-shadow: 2px 2px 20px;
   
}
body
{
    width: 98%;
}
#aks4
{
    position: absolute;
    bottom: -1630px;
    left: 1250px;
    border-radius: 50px;
}
#aks5
{
    position: absolute;
    bottom: -1600px;
    left: 70px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px;
}